<html>
    <head>
        <title>Project</title>
        <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">

    </head>
    <body>
        <div class="container-header">
            <div class="logo">
                <img class="logo-photo"></img>
                <p class="logo_text"><span id="white_text">Made by</span> Pasechnik Vadym </p>
            </div>
            <div class="menu">
                <h4 class="menu_text">Overview</h4>
                <nav>
                    <ul className="menu-list">
                        <li class="nav-item"><img class="menu_icon search" ><a href="/search" class="link">Search by tag</a></li>
                        <li class="nav-item"><img class="menu_icon history" ><a href="/history" class="link">History List</a></li>
                        <li class="nav-item"><img class="menu_icon homepage" ><a href="/home" class="link">Home page</a></li>
                        <li class="nav-item"><img class="menu_icon author" ><a href="/author" class="link">About author</a></li>
                    </ul>
                </nav>
            </div>
            <div  class="account">
                
            </div>
        </div>
        <div class="container">
            <h1>Product List</h1>
            {% if data!={}%}
                <div class="product-list">
                    {%for key,value in data.items()%}
                        <div class="product">
                            <h2 class="product-name"><a href="https://www.ceneo.pl/{{key}}#tab=spec" target="_blank">Product {{key}}</a></h2>
                            <p class="product-info">Opinions: {{value['amount_of_comments']}}</p>
                            <p class="product-info">Disadvantages: {{value['amount_of_advantages']}}</p>
                            <p class="product-info">Advantages: {{value['amount_of disadvantages']}}</p>
                            <p class="product-info">Average Score: {{value['Average_rating']}}</p>
                            <button class="download-button">Download</button>
                            <div class="download-options">
                                <a href="{{ url_for('download',id=key, format='csv') }}">CSV</a>
                                <a href="{{ url_for('download',id=key, format='json') }}">JSON</a>
                                <a href="{{ url_for('download',id=key, format='xlsx') }}">XLSX</a>
                            </div>
                        </div>
                    {%endfor%}
                </div>
                {%else%}
                <div style="text-align:center;position:relative;width:100%">
                    <p style="color:red;font-size:1.5rem">Yet no elements were found. Try searching an item by id.</p>
                </div>
                {%endif%}
            
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var downloadButtons = document.querySelectorAll('.download-button');
                
                downloadButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                        var options = this.nextElementSibling;
                        options.classList.toggle('show');
                    });
                });
            });
        </script>
    </body>
</html>